/*
    Author:	Darren Morrison
    Email:	dmorrison8832@conestogac.on.ca
    SN:		8258832
*/
nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rebeccapurple;
}
.logo-container {
    margin-right: auto;
    padding-left: 10px;
    padding-top: 2px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #111;
    outline: none;
}

a:target {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #777;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    outline: none;

}
* {
    outline: none;
}
header {
    padding: 20px;
    font-size: 20px;
}

.about-me {
    padding: 20px;
}

.project {
    padding: 20px;
}

#profile-picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#block-diagram {
    height: auto;
    max-width: 35%;
}

#MCU-Schematic {
    height: auto;
    max-width: 35%;
}

#Wifi-Schematic {
    height: auto;
    max-width: 35%;
}

#Ethernet-Schematic {
    height: auto;
    max-width: 35%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    margin: 0px;
}


#name {
    padding-left: 20px;
    margin-top: 10px;
    font-size: 50px;
}

#job {
    padding-left: 20px;
}

.indent {
    padding-left: 20px;
}

.indent2 {
    padding-left: 40px;
}
